.FilmDetail {
    .banner {
        background: rgb(5, 5, 5);
        text-align: center;
        padding: 1rem 0;
        padding-top: 5rem;
    }

    .main {
        .container {
            .left {
                width: 90%;
                margin: auto;

                .info {
                    display: flex;

                    >div {
                        padding-left: 2rem;
                    }

                    >img {
                        margin-top: -5rem;
                        box-shadow: 3px 3px 6px rgb(70, 70, 70);
                        border-radius: 5px;
                        width: 30%;
                        height: auto;
                    }
                }
            }
        }
    }
}