.sessionTime{
    >div{
        display: flex; 
        gap: 15px;
        >button{
            color: black;
            background: none;
            border-radius: 5px;
            text-align: center;
            padding: 5px 5px;
            border: 1px solid gray;
            margin: 0;
        }
        >button:hover{
            transition: 0.5s ease;
            background-color: #6366f1;
            color: white;
            cursor: pointer;
        } 
        
    }
}